/* css design  */
/* style for body */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

/* style for single task div container */

.singleTask {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    margin-top: 5px;
    width: 50%;
    height: 90px;
    color: rgb(4, 4, 4);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    left: 25%;
}

/* style for del check */
.delechack {
    margin: 15px;
}

/* style for category section */

.catesec {
    border: 1px solid black;
    background-color: chartreuse;
}

/* style for TODO heading */

.todoheading {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* style for form */

.form_class {
    width: 50%;
    text-align: center;
    position: relative;
    left: 25%;
}

/* style for description area */

.desc_Class input {
    height: 50px;
    width: 100%;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 22px;
    outline: none;
}

/* implemented some hover in description section */
.desc_Class input:hover {
    /* transform: scale(1.1); */
    box-shadow: 0px 0px 5px 2px white;
    background-color: bisque;
}

/* design for select and option START */
/* style for select and options input input area */

.select_and_input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#task-container{
    height: 55vh;
    overflow-y: scroll;
}

.select_and_input select {
    height: 45px;
    width: 40%;
    transition: transform 0.3s;
    text-align: center;
    margin-right: 50px;
}

.select_and_input input {
    height: 45px;
    width: 40%;
    text-align: center;
    transition: transform 0.3s;
}

.select_and_input select:hover {
    box-shadow: 0px 0px 5px 2px white;
    background-color: bisque;
}

.select_and_input input:hover {
    box-shadow: 0px 0px 5px 2px white;
    background-color: bisque;
}

/* design for select and option END */

/* design for dates value */
.datesValues {
    transition: transform 0.3s;
}

.datesValues:hover {
    box-shadow: 0px 0px 5px 2px white;
    background-color: bisque;
}

/* design for button */
.buttonDesign {
    height: 50px;
    width: 120px;
    color: white;
    transition: transform 0.3s;
}

.buttonDesign:hover {
    box-shadow: 0px 0px 5px 2px white;
    transform: scale(1.1);
}

.colorRed {
    background-color: red;

}

.colorGrey {
    background-color: gray;
}

.commonClass {
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    transition: transform 0.3s;
}

/* design for edit sction */
.editClass:hover {
    box-shadow: 0px 0px 5px 2px rgb(100, 100, 100);
}

.editClass a {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(245, 92, 92);
}

/* for placing placeholder in the center  */
input[type="textarea"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: center;
}

/* design for EDIT button*/
.edit-button {
    margin-top: 10px;
    height: 30px;
    width: 90px;
    background-color: rgb(177, 180, 0);
    color: white;
}

input.delechack {
    width: 17px;
    height: 17px;
}

/* Design for different category */
.work {
    background-color: rgb(240, 60, 28);

}

.Personal {
    background-color: rgb(102, 199, 238);

}

.Claeaning {
    background-color: green;
}

.Otheres {
    background-color: rgb(245, 46, 172);
}

.name_and_dueDate {
    height: auto;
    width: 200px;
}

.dueDate {
    width: fit-content;
}

.color-white {
    color: white;
}